/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */


.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--font-family, sans-serif);
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  color: var(--text-color, #F1B2CE);
  background-color: var(--bg-color, #000028);  
  background-attachment: fixed;
  background: var(--bg-image) no-repeat center /cover;
  width: 100%;
}

.header {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: var(--padding, 10px) var(--padding, 10px);
  margin-block-end: var(--header-margin, 40px);
  }

  .header_title {
    font-weight: 700;
    font-size: var(--title-font-size, 116px);
    line-height: 83%;
    color: var(--title-color, #db00ff);
    text-shadow: 4px 4px var(--shadow-color, #FF0070); 
    margin-left: -20px; 
  }

  @media (max-width: 600px) {
    .header_title {
      margin-left: 0;
    }
  }

  .accent_text {
    font-weight: 700;
    font-size: 18px;
    color: var(--accent-text-color, #000028);
    background: var(--accent-color, #FF0070);
  }
  
  .header_annotation {
    display: block;
    justify-self: end;
    max-width: clamp(355px, 50%, 491px);
  }


/*Декоративные элементы*/

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;  
  border-right: 1px solid var(--decor-color, #FF0070);
  border-top: 1px solid var(--decor-color, #FF0070);
  top: var(--padding);
  right: var(--padding);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;  
  border-left: 1px solid var(--decor-color, #FF0070);
  border-bottom: 1px solid var(--decor-color, #FF0070);
  bottom: var(--padding);
  left: var(--padding);
}

.decorared-element {
justify-self: end;
align-self: self-start;
padding-right: 25px;
text-align: center;
color: var(--accent-color, #FF0070);
text-transform: uppercase;
position: absolute;
top: var(--padding, 10px);
right: var(--padding, 10px);

}

.decorared-element::after {
  content: " ";
  position: absolute;
  inline-size: 10px;
  block-size: 10px;  
  border-radius: 100%;
  background-color: var(--accent-color, #FF0070);
  box-shadow: 0 0 4px 2px var(--accent-color, #FF0070);
  margin-block-start: 8px;
  margin-inline-start: 9px;
}

/*Стилизация меню*/

.header__theme-menu {
  line-height: 100%;
  text-align: center;
  color: var(--decor-color, #FF0070);
  text-transform: lowercase;
 }

 .header__theme-menu-list {
  display: grid;
  gap: 10px;
 justify-content: end;
  
}

@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    display: grid;
    grid-auto-flow: column;
    align-self: start;
  }
}

/*Кнопки*/

.header__theme-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none; 
  text-transform: lowercase;
  padding: 0 13px;
  width: 70px;
  height: 26px;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
}

.header__theme-menu-button:hover {
  border: 1px solid currentColor;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

button:disabled {
  pointer-events: none;
}

/*Раздел с контентом*/

.content {
 width: 100%;
 padding: 0 var(--padding, 10px);
}

.link {
  text-decoration: none;
  color: var(--text-color, #F1B2CE);
  text-shadow: 1px 1px var(--shadow-color, #FF0070); 
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: var(--text-color, #F1B2CE);
  }

.link:focus-visible {
  outline: 1px solid var(--text-color, #F1B2CE) ;
}

.section {
  display: grid;
  gap: 20px;
  }

.section:not(:last-child) {
  margin-block-end: var(--section-margin, 50px);
}

.section_reasons {
  width: 100%;
  grid-template-columns: 1fr 2fr;
 /* gap: 10px;*/
 }


@media (max-width: 600px) {
  .section.section_reasons, .section.section_advices {
    grid-template-columns: 1fr;
  }  
 }

.section_list {
  display: grid;
  gap: 20px;
  }
 
.section_title {
  font-weight: 700;
  font-size: inherit;
  color: var(--section-title-color, #FF0070);
  display: block;
  width: 30vw;
}

@media (max-width: 600px) {
  .section_title {
    width: 100%;
  }  
 }

.section_subtitle {
  display: block;
  width: 100%;
  margin-block-end: 10px;
}

.section_advices .section_subtitle,
.section_gallery .section_subtitle
{
  margin-block-end: 0;
}

.section_obstacles {
  grid-template-columns: 1fr;
}

@media (min-width: 1024px) {
.section_obstacles .section_list {
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
}

.point_title {
  display: block;
  width: 100%;
  height: 23px;
  background: var(--accent-color, #FF0070);
  font-weight: inherit;
  margin-block-end: 10px;
  color: var(--section-points-color, #000028);
}

.section_advices {
  width: 100%;
  grid-template-columns: 1fr 2fr;
}

 .section_image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
 }


/*Картинки для широких форматов*/

 @media (min-width: 600px) {
.gallery_list {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
}

.gallery_list .section_list_item:nth-child(1) {
  grid-column: span 2;
}
.gallery_list .section_list_item:nth-child(2) {
  grid-row: span 2;
}

.gallery_list .section_list_item:nth-child(3) {
  grid-row: span 2;
}

.gallery_list .section_list_item:nth-child(5) {
  grid-column: span 2;
}
}

/*Картинки для мобильных*/

@media (max-width: 600px) {
  .gallery_list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    }

    .section_gallery {
      gap: 10px;
    } 

  }

 .footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: var(--ft-margin, 40px);
 }

