/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-family: "IBM Plex Mono", monospace;
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --shadow-color: #ff0070;
  --accent-color: #ff0070;
  --accent-text-color: #000028;
  --title-color: #db00ff;
  --section-title-color: #ff0070;
  --section-points-color: #000028;
  --decor-color: #ff0070;
  --bt-hover-color: rgba(255, 0, 112, 0.4);
  --bg-image: url("/images/cover-image-dark.png");
  --padding: 10px;
  --section-margin: 50px;
  --ft-margin: 40px;
  --header-margin: 40px;
  --title-font-size: 116px;
}

@media (min-width: 600px) {
  :root {
    --padding: 20px;
    --section-margin: 80px;
  }
}
@media (min-width: 375px) {
  :root {
    --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (min-width: 768px) {
  :root {
    --ft-margin: 60px;
    --header-margin: 60px;
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1020px) {
  :root {
    --ft-margin: 60px;
    --header-margin: 60px;
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
